### Node
node_modules/
**/node_modules/

### Build output
/dist/
/build/
/.parcel-cache/

### Env files (local only)
.env
.env.local
.env.*.local
.env.production
.env.development


### Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

### OS/editor
.DS_Store
.vscode/
.idea/

### Test coverage
/coverage/
.nyc_output/

### Misc
.cache/
.eslintcache
.turbo/
/.pnp.cjs
/.pnp.js

### Docker
.dockerignore
